body {margin:0;background-color:rgb(61, 61, 61);font-family: Arial, Helvetica, sans-serif;}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.square {
    justify-content: center;
    height: 256px;
    width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #049faa;
}

/*Table*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #262c2c;
}

.int-text {
  font-size: 30px;
  text-align: center;
  line-height: 35px;
}

.int-text2 {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.int-pic {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
}

.button {
  display: inline-flex;
  border-radius: 4px;
  background-color: #049faa;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 25px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px 35px;
  justify-content: center;
  width: 50%;
}

.button span {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  transition: 0.5s;
  justify-content: center;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.int-pic:hover {
  box-shadow: 0 0 10px 3px rgba(7, 145, 190, 0.5);
}

/*Flex boxes for colums*/
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgb(73, 73, 73);
    border-radius: 8px;
    align-items: center;
  }
  
  .flex-container > div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8b8b8b;
    border-radius: 8px;
    width: 700px;
    height: 500px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    overflow: hidden;
    justify-content: center;
  }

.box-text {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 18px;
}

.box-text2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  color: #024146;
}

.box-head {
  font-size: 30px;
  line-height: 30px;
}

@media(min-width: 600px) {
  .flexbox-container {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: flex-end; */
  }
  
  .flexbox-container > div {
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
  }
}

/*Flex boxes for rows*/
.flex-container-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgb(73, 73, 73);
    border-radius: 8px;
    align-items: center;
  }
  
  .flex-container-row > div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8b8b8b;
    border-radius: 8px;
    width: 700px;
    height: 500px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    overflow: hidden;
  }

  @media(min-width: 600px) {
    .flexbox-container-row {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: flex-end; */
    }

    .flexbox-container-row > div {
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
  }
}


/*HP*/
  #hp-links{
    bottom: 0;
    position: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  
  #hp-links-container{
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
  }
  
  .hp-links-btn{
    width: 96px;
    height: 96px;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
    border-radius: 50%;
    background-size: cover;
  }
  
  #hp-links-resume-btn{
      background-image: url(../images/icon/resume.png);
  }
  
  #hp-links-resume-btn:hover{
      background-image: url(../images/icon/resume-h.png);
      transition: 0.3s;
  }
  
  #hp-links-github-btn{
      background-image: url(../images/icon/github.png);
  }
  
  #hp-links-github-btn:hover{
      background-image: url(../images/icon/github-h.png);
      transition: 0.3s;
  }
  
  #hp-links-linkedin-btn{
      background-image: url(../images/icon/linkedin.png);
  }
  
  #hp-links-linkedin-btn:hover{
      background-image: url(../images/icon/linkedin-h.png);
      transition: 0.3s;
  }
  
  #hp-links-mail-btn{
      background-image: url(../images/icon/email.png);
  }
  
  #hp-links-mail-btn:hover{
      background-image: url(../images/icon/email-h.png);
      transition: 0.3s;
  }
  
  #hp-links-instagram-btn{
      background-image: url(../images/icon/instagram.png);
  }
  
  #hp-links-instagram-btn:hover{
      background-image: url(../images/icon/instagram-h.png);
      transition: 0.3s;
  }
  
  #hp-links-arrow-btn{
    background-image: url(../images/icon/arrowdown.png);
  }
  